@import '_base/var'
@import '_base/base'
@import '_base/code'
@import '_partial/head'
@import '_partial/post'
@import '_partial/archive'
@import '_partial/foot'

::selection 
    color #222
    background #D6EDFF
    text-shadow none
