body
    font-family font-default
    color: #3A4145

a
    transition color ease 0.3s
    
blockquote
    font-size: 12px
    
h1, h2, h3, h4, h5, h6, h7
    font-weight: bold
    
#toc
    float: right
    margin-left 10px

#toc ol
    list-style: none
    list-style-position: inside
    padding: 0
    padding-left: 15px

#toc a
    text-decoration none