// Font face
@font-face
  font-family 'Vollkorn'
  font-style normal
  font-weight 400
  src local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://themes.googleusercontent.com/static/fonts/vollkorn/v4/BCFBp4rt5gxxFrX6F12DKvesZW2xOQ-xsNqO47m55DA.woff) format('woff')


// Color

// Font
font-default = 'Helvetica', '微软雅黑', '黑体', '宋体', serif
font-post-title = 'Vollkorn', 'Times New Roman', '楷体', '微软雅黑', '黑体', '宋体', serif
