// Font face
@font-face
  font-family 'Vollkorn'
  font-style normal
  font-weight 400
  src local('Vollkorn Regular'), local('Vollkorn-Regular'), url(http://themes.googleusercontent.com/static/fonts/vollkorn/v4/BCFBp4rt5gxxFrX6F12DKvesZW2xOQ-xsNqO47m55DA.woff) format('woff')

@font-face
  font-family: 'JosefinSansRegular';
  src: url('font/josefinsans-regular-webfont.eot');
  src: url('font/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/josefinsans-regular-webfont.woff') format('woff'),
  url('font/josefinsans-regular-webfont.ttf') format('truetype'),
  url('font/josefinsans-regular-webfont.svg#JosefinSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;


// Color

// Font
font-default = 'Helvetica', '微软雅黑', '黑体', '宋体', serif
font-post-title = 'JosefinSansRegular', 'Vollkorn', Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif
