    <footer id="footer">
    <div id="bottom-tip">
        <%= config.title %><% if(config.subtitle) { %> —— <small><%= config.subtitle %></small><% } %>
    </div>
        <small>该博客由 <a href="https://hexo.io/" target="_blank">Hexo</a> 强力驱动，搭载 <a href="https://github.com/XadillaX/hexadillax" target="_blank">Hexadillax</a> 主题</small><br />
        <small>&copy; 2014 <%= config.author %></small>
    </footer>

    <%- partial('baidu-analytics') %>
</body>
</html>
