.archive-body
    margin-top 70px
    margin-bottom 125px
    opacity .8

.archive-body a
    color #ff7800
    
.archive-body a:hover
    color #ff0033

.archive-list
    list-style-position inside
    padding 0

.archive-list-count
    margin-left 10px
    
.archive-body .post
    opacity 1
    
a.currentTag
    color #ff0033