.first-post
    margin-top 70px

.last-post
    margin-bottom 125px

    
.pagination-div 
    margin-bottom 125px
    opacity .8
    text-align center
    overflow hidden
    
.pagination-div .page-number
    display inline-block
    
.pagination-div span
    color #ff0033
    
.pagination-div a
    color #ff7800

.pagination-div span, .pagination-div a
    padding 0.5em 1em
    
.pagination-div .prev
    float left
    
.pagination-div .next
    float right

.post
    opacity .9
    font-family font-post-title

.post h1
    font-weight bold

.post h1 a 
    color #333

.post h1 a:hover
    text-decoration none
    color #FF0033

.index-post-avatar
    width 32px
    height 32px
    position relative
    top -2px

.say-title
    text-align right

.say-title a 
    color #ff7800

.say-title a:hover
    color #ff0033

.post-body a
    color #ff7800

.post-body a:hover
    color #ff0033
    
.time-info
    text-align right
    border-bottom 1px dotted #e4e4e4
    margin-bottom 15px

.highlight
  background highlight-background
  margin 0.5em 0
  padding 1em 2%
  overflow auto
  color highlight-foreground
  line-height line-height
  font-size font-size
  border-radius 4px
  
.highlight table
    padding 0
  
.highlight pre
    background none
    border none
    color #c5c8c6
    padding 5px
    margin 0
.highlight .gutter pre
    color #666