.first-post
    margin-top 70px

.last-post
    margin-bottom 125px

    
.pagination-div 
    margin-bottom 125px
    opacity .8
    text-align center
    overflow hidden
    
.pagination-div .page-number
    display inline-block
    
.pagination-div span
    color #ff0033
    
.pagination-div a
    color #ff7800

.pagination-div span, .pagination-div a
    padding 0.5em 1em
    
.pagination-div .prev
    float left
    
.pagination-div .next
    float right

.post
    opacity .8
    font-family font-post-title

.post h1
    font-weight bold

.post h1 a 
    color #333

.post h1 a:hover
    text-decoration none
    color #FF0033

.index-post-avatar
    width 32px
    height 32px
    position relative
    top -2px

.say-title
    text-align right

.say-title a 
    color #ff7800

.say-title a:hover
    color #ff0033
